<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChefShare"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.chefshare.LoginActivity" />
        <activity android:name=".view.activities.UploadRecipeActivity" />
        <activity android:name=".view.activities.PremiumActivity" />
        <activity android:name="com.android.chefshare.MyRecipeStorageActivity" />
        <activity android:name=".view.activities.SearchActivity" />
        <activity android:name=".view.activities.SearchResultsActivity"/>
        <activity android:name=".view.activities.AIRecipeActivity" />
        <activity android:name=".view.activities.SettingsActivity" />
        <activity android:name=".view.activities.RecentDishesActivity" />
        <activity android:name=".view.activities.ProfileActivity" />
        <activity android:name=".view.activities.EditProfileActivity" />
        <activity
            android:name=".view.activities.DishDetailActivity"
            android:exported="true" />
        <activity android:name=".view.activities.NotificationActivity"/>
        <activity android:name=".view.activities.FeedbackActivity"/>
        <activity
            android:name=".view.activities.admin.UserManagementActivity"
            android:exported="true" />
        <activity android:name=".view.activities.admin.PostDetailActivity" />
        <activity android:name=".view.activities.admin.PostManagementActivity" />

    </application>

</manifest>